/* App.css */

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f4f4f4;
}

.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;

}
.navbar .logo {
  text-decoration: none;
  color: inherit; 
}

.home-icon {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.content {
  padding: 1rem;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.square-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4295f5;  
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 1rem;
  width: 200px; 
  border: 1px solid #ccc; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.square-button i {
  font-size: 36px; 
  margin-bottom: 0.5rem; 
}

.square-button:hover {
  background-color: #287ee0;
  cursor: pointer;
}

.square-button {
  display: flex;
  align-items: center;
  background-color: #4295f5;  
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 1rem;
  width: 200px; 
  border: 1px solid #ccc; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  margin: 0.5rem; 
}

.square-button i {
  font-size: 36px; 
  margin-right: 10px; 
}

.square-button:hover {
  background-color: #0d4e99;
  cursor: pointer;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.square-button {
  margin: 0.8rem; 
  width: 300px; 
  height: 350px;
  padding: 1.8rem; 
  font-size: 1.2rem;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}
.logout-button {
  padding: 8px 16px;
  margin-left: auto;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .button-container {
    flex-direction: column;
  }
}
